* @Lendable/architecture @Lendable/codeowners-backend-us-loans @Lendable/us-cards-codeowners-backend @Lendable/uk-motor-backend-codeowners @Lendable/uk-loans-codeowners @Lendable/uk-cards-codeowners-api
