/.github                export-ignore
/local                  export-ignore
/tests                  export-ignore
/.allowed-licenses.php  export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/.php-cs-fixer.php      export-ignore
/composer.lock          export-ignore -merge
/infection.json.dist    export-ignore
/Makefile               export-ignore
/phpstan-rector.neon    export-ignore
/phpstan.neon           export-ignore
/phpunit.xml.dist       export-ignore
/rector.php             export-ignore
