includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
      - lib
      - tests
      - rector.php
    reportUnmatchedIgnoredErrors: false
    checkExplicitMixed: true

    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
        - '#^Call to an undefined static method DateTime(?:Immutable)?::createFromInterface\(\)\.$#'
        - '#^Attribute class PHPUnit\\Framework\\Attributes\\CodeCoverageIgnore is deprecated: https://github.com/sebastianbergmann/phpunit/issues/5236$#'
