name: "CI"

concurrency:
  group: "ci-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

on:
  merge_group:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  ci:
    name: "Execute (PHP ${{ matrix.php-version }} with ${{ matrix.dependencies }} deps)"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        dependencies:
          - "lowest"
          - "highest"
          - "locked"
        php-version:
          - "8.3"
          - "8.4"
          - "8.5"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd" # v5

      - name: "Install PHP"
        uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # v2
        with:
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1

      - name: "Update Composer platform version"
        if: ${{ matrix.dependencies != 'locked' && matrix.php-version != '8.3' }}
        shell: bash
        run: "composer config platform.php ${{ matrix.php-version }}"

      - name: "Install dependencies"
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "Validate Composer dependencies"
        run: "composer validate"

      - name: "Check Composer dependency licenses"
        run: "composer licenses:check"

      - name: "Run linting"
        run: "composer lint"

      - name: "Run coding style"
        if: ${{ matrix.dependencies == 'locked' && matrix.php-version == '8.3' }}
        run: "composer code-style:check"

      - name: "Run PHPStan"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer phpstan"

      - name: "Run Rector"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer rector:check"

      - name: "Tests"
        run: "composer tests"
