name: Release

on:
  push:
    branches:
      - master
      - releases/**
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: "release-${{ github.ref_name }}"

jobs:
  release-please:
    runs-on: ubuntu-24.04
    name: Release Automation
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: generate-token
        with:
          app-id: ${{ secrets.LENDABOT_APP_ID }}
          private-key: ${{ secrets.LENDABOT_APP_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          token: ${{ steps.generate-token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
          include-component-in-tag: false
          target-branch: ${{ github.ref_name }}
